<mat-progress-bar *ngIf="!isBookLoaded" mode="indeterminate"></mat-progress-bar>
<h2 *ngIf="isBookLoaded" class="text-center m-3">Details of {{book.title}}</h2>
<div class="text-right m-3">
  <button (click)="editBook(book.id)" mat-mini-fab matTooltip="Add a new book to the list">
    <mat-icon>edit</mat-icon>
  </button>
</div>

<div class="container" *ngIf="book">
  <!-- ROW -->
  <div class="row">
    <!-- COLUMN  -->
    <div class="col-sm">
      <label>Name:</label>
      <p>{{book.title}}</p>
    </div>
    <!-- /COLUMN  -->

    <!-- COLUMN  -->
    <div class="col-sm">
      <label>Author:</label>
      <p>{{book.parameters.author}}</p>
    </div>
    <!-- /COLUMN  -->

    <!-- COLUMN  -->
    <div class="col-sm">
      <label>ISBN: </label>
      <p>{{book.isbn}}</p>
    </div>
    <!-- /COLUMN  -->
  </div>
  <!-- /ROW -->

  <!-- ROW -->
  <div class="row">
    <!-- COLUMN -->
    <div class="col-sm">
      <label>Genre:</label>
      <p>{{book.genre.name}}</p>
    </div>
    <!-- /COLUMN -->

    <!-- COLUMN -->
    <div class="col-sm">
      <label>Format:</label>
      <p>{{book.parameters.format.name}}</p>
    </div>
    <!-- /COLUMN -->
  </div>
  <!-- /ROW -->

  <!-- ROW -->
  <div class="row">
    <!-- COLUMN -->
    <div class="col-sm">
      <label>Price:</label>
      <p>{{book.price}}</p>
    </div>
    <!-- /COLUMN -->

    <!-- COLUMN -->
    <div class="col-sm">
      <label>Stock:</label>
      <p>{{book.stock}}</p>
    </div>
    <!-- /COLUMN -->
  </div>
  <!-- /ROW -->

  <!-- ROW -->
  <div class="row">
    <!-- COLUMN -->
    <div class="col-sm">
      <!-- TODO Show image -->
      <img>
    </div>
    <!-- /COLUMN -->
  </div>
  <!-- /ROW -->

  <!-- ROW -->
  <div class="row">
    <!-- COLUMN -->
    <div class="col-sm">
      <label>Active:</label> <mat-slide-toggle [(ngModel)]="book.active" disabled></mat-slide-toggle>
    </div>
    <!-- /COLUMN -->
  </div>
  <!-- /ROW -->
</div>
