<h2 *ngIf="isLoading" class="text-center m-3">Details of {{book.title}}</h2>

<div class="text-right m-3">
  <button (click)="editBook(book.id)" mat-mini-fab matTooltip="Add a new book to the list" *ngxPermissionsOnly="['ADMIN', 'EMPLOYEE']">
    <mat-icon>edit</mat-icon>
  </button>
</div>

<div class="container form-container" *ngIf="book">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="row">
    <div class="col text-center">
      <img alt="No image available" *ngIf="book.image" [src]="book.image">
    </div>
    <div class="col">
      <div class="row text-white">
        <label>Title: {{book.title}}</label>
      </div>

      <div class="row text-white">
        <label>Author: {{book.parameters.author}}</label>
      </div>

      <div class="row text-white">
        <label>ISBN: {{book.isbn}}</label>
      </div>

      <div class="row text-white">
        <label>Genre: {{book.genre.name}}</label>
      </div>

      <div class="row text-white">
        <label>Format: {{book.parameters.format.name}}</label>
      </div>

      <div class="row text-white">
        <label>Price: {{book.price}}</label>
      </div>

      <div class="row text-white">
        <label>Stock: {{book.stock}}</label>
      </div>

      <div class="row text-white">
        <label>Active for sale</label>
        <mat-slide-toggle class="mx-2 px-2" [(ngModel)]="book.active" disabled></mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
