<ng-container [formGroup]="form">
  <mat-card class="d-flex flex-column form-container">
    <mat-card-title class="text-white">Order details</mat-card-title>
    <div class="row">
      <div class="col-sm">
        <!-- DELIVERY METHODS -->
        <mat-form-field class="form-group w-100">
          <mat-label>Delivery method</mat-label>
          <mat-select formControlName="deliveryMethod" [(value)]="selectedDeliveryMethod">
            <mat-option *ngFor="let deliveryMethod of deliveryMethods" [value]="deliveryMethod.name">
              {{deliveryMethod.name}}
            </mat-option>
            <mat-error *ngIf="f['deliveryMethod'].invalid">{{getErrorMessage('deliveryMethod')}}</mat-error>
          </mat-select>
        </mat-form-field>
        <!-- /DELIVERY METHODS -->
      </div>

      <div class="col-sm">
        <!-- PAYMENT METHODS -->
        <mat-form-field class="form-group w-100">
          <mat-label>Payment method</mat-label>
          <mat-select formControlName="paymentMethod" [(value)]="selectedPaymentMethod">
            <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.name">
              {{paymentMethod.name}}
            </mat-option>
            <mat-error *ngIf="f['paymentMethod'].invalid">{{getErrorMessage('paymentMethod')}}</mat-error>
          </mat-select>
          <mat-icon matSuffix class="text-white">payment</mat-icon>
        </mat-form-field>
        <!-- /PAYMENT METHODS -->
      </div>


    </div>

    <div class="row">
      <div class="col-sm">
        <!-- ORDER STATUS -->
        <mat-form-field class="form-group w-100">
          <mat-label>Order status</mat-label>
          <mat-select formControlName="orderStatus" [(value)]="selectedOrderStatus">
            <mat-option *ngFor="let orderStatus of orderStatuses" [value]="orderStatus.name">
              {{orderStatus.name}}
            </mat-option>
            <mat-error *ngIf="f['orderStatus'].invalid">{{getErrorMessage('orderStatus')}}</mat-error>
          </mat-select>
        </mat-form-field>
        <!-- /ORDER STATUS -->
      </div>

      <div class="col-sm">
        <!-- PAYMENT STATUSES -->
        <mat-form-field class="form-group w-100">
          <mat-label>Payment status</mat-label>
          <mat-select formControlName="paymentStatus" [(value)]="selectedPaymentStatus">
            <mat-option *ngFor="let paymentStatus of paymentStatuses" [value]="paymentStatus.name">
              {{paymentStatus.name}}
            </mat-option>
            <mat-error *ngIf="f['paymentStatus'].invalid">{{getErrorMessage('paymentStatus')}}</mat-error>
          </mat-select>
        </mat-form-field>
        <!-- /PAYMENT STATUSES -->
      </div>
    </div>
  </mat-card>
</ng-container>
