<mat-progress-bar *ngIf="!isBookLoaded" mode="indeterminate"></mat-progress-bar>
<app-add-edit-book-form></app-add-edit-book-form>
<div>
  <h2 *ngIf="isBookLoaded" class="text-center m-3">Edit {{book.title}}</h2>

  <!-- FORM -->
  <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      <!-- ROW -->
      <div class="row">
        <!-- COLUMN -->
        <div class="form-group col-sm">
          <label>Title</label>
          <input
          class="form-control"
          id="title"
          name="title"
          #title="ngModel"
          [(ngModel)]="book.title"
          required
          placeholder="Enter the name of the title"
          type="text"
          >
          <div class="alert alert-danger" *ngIf="title.invalid && (title.dirty || title.touched)">
            <div *ngIf="['title.errors.required']">
              You need to enter a title to create a new book
            </div>
          </div>
        </div>
        <!-- /COLUMN -->

        <!-- COLUMN -->
        <div class="form-group col-sm">
          <label>Author</label>
          <input
          class="form-control"
          id="author"
          name="author"
          #author="ngModel"
          [(ngModel)]="book.parameters.author"
          required
          placeholder="Enter the name of the author"
          type="text"
          >
          <div class="alert alert-danger" *ngIf="author.invalid && (author.dirty || author.touched)">
            <div *ngIf="['author.errors.required']">
              You need to enter an author to create a new book
            </div>
          </div>
        </div>
        <!-- /COLUMN -->

        <!-- COLUMN -->
        <div class="form-group col-sm">
          <label>ISBN</label>
          <input
          class="form-control"
          id="isbn"
          name="isbn"
          #isbn="ngModel"
          [(ngModel)]="book.isbn"
          required
          placeholder="Enter the ISBN of the book"
          type="text"
          >
          <div class="alert alert-danger" *ngIf="isbn.invalid && (isbn.dirty || isbn.touched)">
            <div *ngIf="['isbn.errors.required']">
              You need to enter an author to create a new book
            </div>
          </div>
        </div>
        <!-- /COLUMN -->
      </div>
      <!-- /ROW -->

      <!-- ROW -->
      <div class="row">
        <!-- COLUMN -->
        <div class="form-group col-sm">
          <div>
            <label>Genre</label>
          </div>
          <select>
            <option *ngFor="let genre of genreTypes" [value]="book.genre.name">
              {{genre.name}}
            </option>
          </select>
        </div>
        <!-- /COLUMN -->

        <!-- COLUMN -->
        <div class="form-group col-sm">
          <div>
            <label>Format</label>
          </div>
          <select>
            <option *ngFor="let format of formatTypes" [value]="book.parameters.format">
              {{format.name}}
            </option>
          </select>
        </div>
        <!-- /COLUMN -->
      </div>
      <!-- /ROW -->

      <!-- ROW-->
      <div class="row">
        <!-- COLUMN -->
        <div class="form-group col-sm">
          <label>Price</label>
          <input type="number"
          class="form-control"
          id="price"
          name="price"
          [(ngModel)]="book.price"
          required
          placeholder="0.00"
          #price ="ngModel"
          >
          <div class="alert alert-danger" *ngIf="price.invalid && (price.dirty || price.touched)">
            <div *ngIf="['price.errors.required']">
              You need to enter a price for the book
            </div>
          </div>
        </div>
        <!-- /COLUMN -->

        <!-- COLUMN -->
        <div class="form-group col-sm">
          <div>
            <label>Stock</label>
            <input type="number"
            class="form-control"
            id="stock"
            name="stock"
            [(ngModel)]="book.stock"
            required
            #stock ="ngModel"
            >
            <div class="alert alert-danger" *ngIf="stock.invalid && (stock.dirty || stock.touched)">
              <div *ngIf="['stock.errors.required']">
                You need to enter your stock
              </div>
            </div>
          </div>
        </div>
        <!-- /COLUMN -->
      </div>
      <!-- /ROW-->

    <!-- ROW-->
    <div class="row">
      <div class="form-group col-sm">
        <app-image-selector></app-image-selector>
      </div>
    </div>
    <!-- /ROW-->

    <!-- TODO Does not check for strings with white spaces-->
    <div class="d-flex justify-content-around form-group col-sm">
      <div>
        <label>Active</label>
        <mat-slide-toggle class="ml-2" [(ngModel)]="book.active" name="active"></mat-slide-toggle>
      </div>
      <button class="btn btn-success" [disabled]="bookForm.form.invalid">Save changes</button>
    </div>
  </form>
  <!-- /FORM -->
</div>
