<!-- TODO
  - Login and register in profile
  - Optional: Sidenav for wide devices and employees/admin
-->
<mat-toolbar class="d-flex justify-content-between sticky-top">
  <div class="d-flex">
    <!-- TODO Only for employees and admin -->
    <!-- NAVIGATION -->
    <button mat-icon-button [matMenuTriggerFor]="menuNavigation">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- /NAVIGATION -->

    <!-- HOME -->
    <a mat-icon-button routerLink="catalog" routerLinkActive="active" class="nav-link" >
      <mat-icon class="icon icon-display" fontIcon="home"></mat-icon>
    </a>
    <!-- /HOME -->
  </div>

  <div>
    <h1>
      {{pageTitle}}
    </h1>
  </div>

  <!-- TODO Add other navigation elements -->
  <div>
    <!-- CART MENU -->
    <button mat-icon-button [matMenuTriggerFor]="menuCart">
      <mat-icon
      [matBadge]="booksQuantity"
      [matBadgeHidden]="!booksQuantity"
      matBadgeColor="warn"
      >shopping_cart</mat-icon>
    </button>
    <!-- /CART MENU -->

    <!-- PROFILE MENU -->
    <button mat-icon-button [matMenuTriggerFor]="menuProfile">
      <mat-icon>person</mat-icon>
    </button>
    <!-- /PROFILE MENU -->
  </div>

  <!-- NAVIGATION MENU -->
  <mat-menu #menuNavigation="matMenu">
    <div class="d-flex flex-column">
      <button mat-menu-item [matMenuTriggerFor]="menuProducts">Products</button>
      <button mat-menu-item>Orders</button>
    </div>
  </mat-menu>
  <!-- /NAVIGATION MENU -->

  <!-- PRODUCTS MENU ITEM -->
  <mat-menu #menuProducts="matMenu">
    <button mat-menu-item>
      <a routerLink="books" routerLinkActive="active" class="text-white nav-link">Books</a>
    </button>
    <button mat-menu-item>
      <a routerLink="book_genres" routerLinkActive="active" class="text-white nav-link">Genres</a>
    </button>
    <button mat-menu-item>
      <a routerLink="book_formats" routerLinkActive="active" class="text-white nav-link">Formats</a>
    </button>
  </mat-menu>
  <!-- /PRODUCTS MENU ITEM -->

  <!-- SHOPPING CART MENU -->
  <mat-menu #menuCart="matMenu">
    <div class="p-3">
      <div class="border-bottom d-flex pb-3 justify-content-between">
        <span class="mr-5">{{ booksQuantity }} Items</span>
        <a routerLink="/cart">View Cart</a>
      </div>

      <div *ngIf="cart.boughtBooks.length" class="py-3">
        <div *ngFor="let boughtBook of cart.boughtBooks" class="d-flex font justify-content-between mb-2">
          <span class="mr-5">{{boughtBook.title}} x {{boughtBook.quantity}}</span>
          <span class="font-weight-bold">{{ boughtBook.price | currency }}</span>
        </div>
      </div>

      <div class="border-top d-flex justify-content-between">
        <span>Total: </span>
        <span class="font-weight-bold"> {{ getTotal(cart.boughtBooks) | currency}}</span>
      </div>

      <!--  -->
      <div class="d-flex justify-content-around mt-3 pt-3">
        <button (click)="onClearCart()" color="warn" mat-mini-fab matTooltip="Clear your shopping cart">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button color="accent" mat-mini-fab matTooltip="Go to checkout">
          <mat-icon>check_circle_outline</mat-icon>
        </button>
      </div>
      <!--  -->
    </div>
  </mat-menu>
  <!-- /SHOPPING CART MENU -->

  <!-- TODO Profile -->
  <mat-menu #menuProfile="matMenu">
    <!-- TODO Only if not logged in -->
    <div class="d-flex flex-column m-1 p-1">
      <!-- LOGIN -->
      <a mat-button routerLink="auth/login">
        Login
      </a>
      <!-- /LOGIN -->

      <!-- REGISTER -->
      <a mat-button routerLink="auth/register">
        Register
      </a>
      <!-- /REGISTER -->

      <!-- TODO Only if logged in-->
      <!-- ORDERS -->
      <a mat-button routerLink="">
        My orders
      </a>
      <!-- /ORDERS -->

      <!-- PROFILE -->
      <a mat-button routerLink="profile">
        My profile
      </a>
      <!-- /PROFILE -->

      <!-- TODO Only if logged in -->
      <!-- LOGOUT -->
      <a mat-button (click)="onLogout()" routerLink="auth/login">
        Logout
      </a>
      <!-- /LOGOUT -->
    </div>
  </mat-menu>
</mat-toolbar>
