<!-- PROGRESS BAR -->
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<!-- /PROGRESS BAR -->

<!-- TITLE -->
<h1 class="text-center p-3">Catalog</h1>
<!-- /TITLE -->

<!-- CONTAINER -->
<mat-drawer-container [autosize]="true" class="drawer-container mat-elevation-z8">
  <!-- DRAWER -->
  <mat-drawer class="p-3" mode="side" opened>
    <app-filters (showGenre)="onShowGenre($event)"></app-filters>
  </mat-drawer>
  <!-- /DRAWER -->

  <!-- CONTENT -->
  <mat-drawer-content class="p-3">
    <app-search-bar [placeholder]="'by title or author'" (setFilterEvent)="setFilter($event)" (searchEvent)="onSearch()"></app-search-bar>

    <app-books-header
      (columnsCountChange)="onColumnsCountChange($event)"
      (sortChange)="onSortChange($event)"
    >
    </app-books-header>

    <mat-paginator
      [length]="totalElements"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>

    <mat-grid-list
      gutterSize="16"
      [cols]="cols"
      [rowHeight]="rowHeight"
    >
      <mat-grid-tile *ngFor="let element of data">
        <!-- TODO Decide which one looks better -->
        <!-- <app-book-box [ngClass]="{'w-100': cols === 1}" [fullWidthMode]="cols === 1"></app-book-box> -->
        <app-book-box
          (addToCart)="onAddToCart($event)"
          [book]="element"
          class="w-100"
          [fullWidthMode]="cols === 1"
        ></app-book-box>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator
      [length]="totalElements"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </mat-drawer-content>
  <!-- /CONTENT -->
</mat-drawer-container>
<!-- /CONTAINER -->
