<!-- TODO
  - Paginator and searchbar not responsive between xs and sm
  - Multi-select with Deactivate -> FABs for activate/deactivate of several books
  - Change search event to click with a button instead of keyup
  - Remove div between searchbar and table
  - Book import from excel
  - Currently a progress bar is shown while loading and the user is informed if loading led to an error
    -> more than just a snackbar?
    -> progress spinner instead of progressbar?
  - Advanced filter for searchbar? So the user can choose the criteria
  - Sorting title and author with header orders like ASCII table -> B < a or just outright does not work (author)
  - Return and refresh buttons? Or are they redundant?
-->
<!-- PROGRESS BAR -->
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<!-- /PROGRESS BAR -->

<!-- TITLE -->
<h1 class="text-center mt-3">List of books</h1>
<!-- /TITLE -->

<div class="container mat-elevation-z8 pb-3">
  <!-- FLOATING ACTIONS BUTTONS -->
  <div class="text-right m-2">
    <!-- ADD BOOK ICON -->
    <button (click)="addBook()" mat-mini-fab matTooltip="Add a new book to the list">
      <mat-icon>add</mat-icon>
    </button>
    <!-- /ADD BOOK ICON -->

    <!-- IMPORT BOOKS ICON -->
    <button class="m-2" mat-mini-fab matTooltip="Import a list of books from an excel file. NOT IMPLEMENTED YET.">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <!-- /IMPORT BOOKS ICON -->
  </div>
  <!-- /FLOATING ACTIONS BUTTONS -->

  <!-- SEARCHBAR -->
  <app-search-bar [placeholder]="'by title and author'" (searchEvent)="applyFilter($event)"></app-search-bar>
  <!-- /SEARCHBAR -->

    <!-- TABLE -->
  <table class="container mat-elevation-z8 table-responsive-sm"
    [dataSource]="bookDatasource"
    matSort
    mat-table
    *ngIf="!isLoading"
  >
    <!-- TITLE -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Title of the book" sortActionDescription="Sort by title"> Title </th>
      <td mat-cell *matCellDef="let book"> {{book.title}}</td>
    </ng-container>
    <!-- /TITLE -->

    <!-- AUTHOR -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Author of the book" sortActionDescription="Sort by author"> Author </th>
      <td mat-cell *matCellDef="let book"> {{book.parameters.author}}</td>
    </ng-container>
    <!-- /AUTHOR -->

    <!-- ACTIVE -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Book available for sale" sortActionDescription="Sort by active"> Active </th>
      <td mat-cell *matCellDef="let book">
        <mat-slide-toggle
        (click)="setBookActivity(book)"
        [disabled]="!this.allowActivityUpdates"
        [(ngModel)]="book.active"
        >
      </mat-slide-toggle>
    </td>
  </ng-container>
  <!-- /ACTIVE -->

  <!-- PRICE -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Price of the book" sortActionDescription="Sort by price"> Price </th>
    <td mat-cell *matCellDef="let book"> {{book.price}}</td>
  </ng-container>
  <!-- /PRICE -->

  <!-- STOCK -->
  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Remaining stock of the book" sortActionDescription="Sort by stock"> Stock </th>
    <td mat-cell *matCellDef="let book"> {{book.stock}}</td>
  </ng-container>
  <!-- /STOCK -->

  <!-- ACTIONS -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef matTooltip="View more details or edit the book"> Actions </th>
    <td mat-cell *matCellDef="let book">
      <mat-icon
        aria-hidden="false"
        (click)="viewBookDetails(book.id)"
        fontIcon="remove_red_eye"
        matTooltip="View more details"
        >
      </mat-icon>

      <mat-icon
        aria-hidden="false"
        (click)="editBook(book.id)"
        color="accent"
        fontIcon="edit"
        matTooltip="Edit the book"
        style="margin-left:5px"
      >
      </mat-icon>
    </td>
  </ng-container>
  <!-- /ACTIONS -->

    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfBooks; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfBooks;"></tr>
  </table>
  <!-- /TABLE -->

  <!-- PAGINATOR -->
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons>
  </mat-paginator>
  <!-- /PAGINATOR -->
</div>
