<h2 class="text-center">Add a new book</h2>
<div class="container">
  <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
    <!-- ROW-->
    <div class="row">
      <div class="form-group col-sm">
        <label>Title</label>
        <input type="text"
        class="form-control"
        id="title"
        name="title"
        [(ngModel)]="book.title"
        required
        placeholder="Enter the title"
        #name ="ngModel"
        >
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="['title.errors.required']">
            You need to enter a title for the book
          </div>
        </div>
      </div>

      <div class="form-group col-sm" >
        <label>Author</label>
        <input type="text"
        class="form-control"
        id="author"
        name="author"
        [(ngModel)]="book.parameters.author"
        required
        placeholder="Enter the author"
        #name ="ngModel"
        >
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="['author.errors.required']">
            You need to enter a title for the book
          </div>
        </div>
      </div>

      <div class="form-group col-sm">
        <label>ISBN</label>
        <input type="text"
        class="form-control"
        id="isbn"
        name="isbn"
        [(ngModel)]="book.isbn"
        required
        placeholder="Enter the ISBN"
        #name ="ngModel"
        >
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="['isbn.errors.required']">
            You need to enter the ISBN of the book
          </div>
        </div>
      </div>
    </div>
    <!-- /ROW-->

    <!-- ROW-->
    <div class="row">
      <div class="form-group col-sm">
        <div>
          <label>Genre</label>
        </div>
        <select>
          <option value="">Select a genre</option>
          <option *ngFor="let genre of genreTypes" [value]="genre.name">
            {{genre.name}}
          </option>
        </select>
      </div>

      <div class="form-group col-sm">
        <div>
          <label>Format</label>
        </div>
        <select>
          <option value="">Select a format</option>
          <option *ngFor="let format of formatTypes" [value]="format.name">
            {{format.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- /ROW-->

    <!-- ROW-->
    <div class="row">
      <div class="form-group col-sm">
        <!-- TODO Limit input to two decimal -> .00 -->
        <!-- TODO Table for different prices depending on currencies
          Option 1: Create a auto incremental table -> one row with empty fields for price and currency.
          If the fields of the row are set, generate a new row with empty. <-- I favor this option
          Option 2: Create a table with as many rows as currencies are supported. At least one must be filled.
          Optional: Checkbox or toggle to enable currency converter. The conversion values need to be managed by someone (employees?).
          Problem: What if more then one price is manually set?
          Solution: Only allow one currency to be inserted manully, disable the fields of other rows and convert the prices from
          the setted one to the others?
        -->
        <label>Price</label>
        <input type="number"
        class="form-control"
        id="price"
        name="price"
        [(ngModel)]="book.price"
        required
        placeholder="0.00"
        #name ="ngModel"
        >
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="['price.errors.required']">
            You need to enter a price for the book
          </div>
        </div>

      </div>

      <div class="form-group col-sm">
        <div>
          <label>Stock</label>
          <input type="number"
          class="form-control"
          id="stock"
          name="stock"
          [(ngModel)]="book.stock"
          required
          #name ="ngModel"
          >
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="['stock.errors.required']">
              You need to enter your stock
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /ROW-->

    <!-- ROW-->
    <div class="row">
      <div class="form-group col-sm">
        <div>
          <label>Book cover</label>
        </div>
        <input type="file" class="file-input" (change)="onFileSelected($event)">
        <div class="m-3" *ngIf="fileUrl">
          <img class="w-25 h-25" [src]="fileUrl" alt="Uploaded File">
        </div>
        <!-- TODO Add a remove image button -->
      </div>
    </div>
    <!-- /ROW-->

    <!-- TODO Does not check for strings with white spaces-->
    <div class="d-flex justify-content-around form-group col-sm">
      <div>
        <label>Active</label>
        <mat-slide-toggle [(ngModel)]="book.active" name="active"></mat-slide-toggle>
      </div>
      <button class="btn btn-success" [disabled]="bookForm.form.invalid">Save book</button>
    </div>
  </form>
</div>

