<!-- LOADING -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<!-- /LOADING -->

<h2 class="text-center">Edit your profile</h2>

<pre style="margin-top:50px; border: 1px solid red; width: fit-content">
  {{form.value | json}}
</pre>
<!-- TODO Change CSS of borders -->
<div class="container form-container mat-elevation-z8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-add-edit-user-form formGroupName="personalData"></app-add-edit-user-form>

    <app-add-edit-address-form formGroupName="address"></app-add-edit-address-form>

    <div class="row d-flex justify-content-around m-2 p-2">
      <div class="col-sm d-flex justify-content-center m-2 p-2">
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </div>
      <div class="col-sm d-flex justify-content-center m-2 p-2">
        <a mat-raised-button color="warn">Cancel</a>
      </div>
    </div>
  </form>
</div>

