<!-- LOADING -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<!-- /LOADING -->

<h2 class="m-2 p-2 text-center" *ngIf="isAddMode">Register</h2>
<h2 class="m-2 p-2 text-center" *ngIf="!isAddMode">Edit your profile</h2>

<div class="container form-container mat-elevation-z8">
  <form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
    <app-add-edit-user-form formGroupName="personalData"></app-add-edit-user-form>

    <app-add-edit-address-form formGroupName="address" [selectedCity]="selectedCity" [selectedCountry]="selectedCountry" [selectedPostalCode]="selectedPostalCode" ></app-add-edit-address-form>

    <div class="row d-flex justify-content-around m-2 p-2">
      <div class="col-sm d-flex justify-content-center m-2 p-2">
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </div>
      <div class="col-sm d-flex justify-content-center m-2 p-2">
        <a mat-raised-button color="warn">Cancel</a>
      </div>
    </div>
  </form>
</div>

