label{
  font-weight: 600;
}

.form-container {
  background: var(--mat-toolbar-container-background-color);
  border-radius: 25px;
  padding: 30px;
}

.form-group {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.small-form-group {
  display: block;
  width: 50%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.w-35 {
  width: 35%;
}
