<!-- TODO
  - Implement image selector
-->
<!-- LOADING -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<!-- /LOADING -->

<h2 class="text-center" *ngIf="isAddMode">Add a new book</h2>
<h2 class="text-center" *ngIf="!isAddMode">Edit book</h2>

<div class="container form-container mat-elevation-z8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #bookForm="ngForm">
    <!-- IDENTIFIER -->
    <div [hidden]="true">
      <!-- TODO Not sure what to do with this, need to exist for edit, but dont need to be visible? -->
      <input class="formControlName" formControlName="id"  type="text">
      <div formGroupName="parameters">
        <input class="formControlName" formControlName="id" type="text">
        <input class="formControlName" formControlName="active" type="text">
      </div>
    </div>
    <!-- /IDENTIFIER -->

    <!-- TITLE -->
    <mat-form-field class="form-group" appearance="fill">
      <mat-label>Title</mat-label>
      <input
      formControlName="title"
      matInput
      placeholder="Enter the title"
      required
      type="text"
      >
      <mat-error *ngIf="f['title'].invalid">{{getErrorMessage('title')}}</mat-error>
    </mat-form-field>
    <!-- /TITLE -->

    <!-- ROW -->
    <mat-form-field class="form-group" appearance="fill" formGroupName="parameters">
      <!-- AUTHOR -->
      <mat-label>Author</mat-label>
      <input
      formControlName="author"
      matInput
      placeholder="Enter the author"
      required
      type="text"
      >
      <mat-error *ngIf="f['parameters'].invalid">{{getErrorMessage('parameters')}}</mat-error>
      <!-- /AUTHOR -->
    </mat-form-field>
    <!-- /ROW -->

    <!-- ISBN -->
    <mat-form-field class="form-group" appearance="fill">
      <mat-label>ISBN</mat-label>
      <input
        formControlName="isbn"
        matInput
        placeholder="Enter the ISBN"
        required
        type="text"
      >
      <mat-error *ngIf="f['isbn'].invalid">{{getErrorMessage('isbn')}}</mat-error>
    </mat-form-field>
    <!-- /ISBN -->

    <!-- /ROW -->

    <!-- ROW -->
    <div class="row">
      <div class="col-sm">

        <!-- GENRE -->
        <mat-form-field class="form-group w-100">
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genre" [(value)]="selectedGenre">
            <mat-option *ngFor="let genre of genreTypes" [value]="genre.name">
              {{genre.name}}
            </mat-option>
            <mat-error *ngIf="f['genre'].invalid">{{getErrorMessage('genre')}}</mat-error>
          </mat-select>
        </mat-form-field>
        <!-- /GENRE -->
      </div>

      <div class="col-sm">
        <!-- FORMAT -->
        <mat-form-field class="form-group w-100" formGroupName="parameters">
          <mat-label>Format</mat-label>
          <mat-select formControlName="format" [(value)]="selectedFormat">
            <mat-option *ngFor="let format of formatTypes" [value]="format.name">
              {{format.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="f['parameters'].invalid">{{getErrorMessage('parameters')}}</mat-error>
        </mat-form-field>
        <!-- /FORMAT -->
      </div>
    </div>
    <!-- /ROW -->

    <!-- ROW -->
    <div class="row">
      <div class="col-sm">
      <!-- COLUMN -->
        <!-- KILLER FEATURE: Table for different prices depending on currencies
            Option 1: Create a auto incremental table -> one row with empty fields for price and currency.
            If the fields of the row are set, generate a new row with empty. <-- I favor this option
            Option 2: Create a table with as many rows as currencies are supported. At least one must be filled.
            Optional: Checkbox or toggle to enable currency converter. The conversion values need to be managed by someone (employees?).
            Problem: What if more then one price is manually set?
            Solution: Only allow one currency to be inserted manully, disable the fields of other rows and convert the prices from
            the setted one to the others?
          -->
          <!-- PRICE -->
        <mat-form-field class="form-group w-100" floatLabel="always">
            <mat-label>Price</mat-label>
          <input
            appTwoDigitDecimalNumber
            formControlName="price"
            matInput
            placeholder="0.00"
            required
          >
          <!-- TODO Fix color -->
          <span class="text-white" matTextSuffix>€&nbsp;</span>
          <!-- /PRICE -->

          <mat-error *ngIf="f['price'].invalid">{{getErrorMessage('price')}}</mat-error>
        </mat-form-field>
        <!-- /COLUMN -->
      </div>

      <div class="col-sm">
        <!-- COLUMN -->
        <mat-form-field class="form-group w-100">
          <!-- STOCK -->
          <mat-label>Stock</mat-label>
          <input
          formControlName="stock"
          matInput
          placeholder="Enter the stock"
          type="number"
          >
          <mat-error *ngIf="form.controls['stock'].invalid">{{getErrorMessage('stock')}}</mat-error>
          <!-- /STOCK -->
        </mat-form-field>
        <!-- /COLUMN -->
        </div>
      </div>
      <!-- /ROW -->

      <!-- ROW-->
      <div class="row justify-content-center">
        <div class="form-group">
          <div class="d-flex justify-content-center">
            <button (click)="fileInput.click()" mat-raised-button type="button">Choose a book cover</button>
            <input hidden type="file" (change)="onFileSelected($event)" #fileInput id="file">
          </div>

          <div class="d-flex justify-content-center m-3 ">
            <img *ngIf="this.image" [src]="this.image" alt="Uploaded File">
          </div>

          <div class="d-flex justify-content-center">
            <button mat-raised-button (click)="resetImage()">Remove image</button>
          </div>
        </div>
      </div>
    <!-- /ROW-->

    <!-- ROW-->
    <div class="row d-flex justify-content-center">
      <div>

        <span class="p-3 text-white">Available for sale</span>
        <mat-slide-toggle formControlName="active"></mat-slide-toggle>
      </div>
    </div>

    <div class="row d-flex justify-content-around m-2 p-2">
      <div class="col-sm d-flex justify-content-center m-2 p-2">
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </div>
      <div class="col-sm d-flex justify-content-center m-2 p-2">
        <a mat-raised-button color="warn" routerLink="/books">Cancel</a>
      </div>
    </div>
    <!-- /ROW-->
  </form>
</div>
