<h1 class="m-2 p-2 text-center">Revenues</h1>

<div class="container mt-3 p-3 mat-elevation-z8">
  <mat-card class="card-container mat-elevation-z8 mx-auto">
    <div class="row d-flex flex-wrap justify-content-center">
      <div class="border col-md-auto m-5 p-2 rounded">
        <mat-card-header class="text-white">Monthly</mat-card-header>
        <div class="row m-3">
          <mat-card-content class="text-white">
            <label>Current month ({{startOfMonth}} to {{today}}): {{revenueOfCurrentMonth | currency}}</label>
          </mat-card-content>
        </div>

        <div class="row m-3">
          <mat-card-content class="text-white">
            <label>Last month ({{startOfLastMonth}} to {{endOfLastMonth}}): {{revenueOfLastMonth | currency}}</label>
          </mat-card-content>
        </div>

        <div class="row m-3">
          <mat-card-content class="text-white">
            <label>Last 30 days ({{thirtyDaysBefore}} to {{today}}): {{revenueOfLast30Days | currency}}</label>
          </mat-card-content>
        </div>
      </div>

      <div class="border col-md-auto m-5 p-2 rounded">
        <mat-card-header class="text-white">Weekly</mat-card-header>
        <div class="row m-3">
          <mat-card-content class="text-white">
            <label>Current week ({{startOfWeek}} to {{today}}): {{revenueOfCurrentWeek | currency}}</label>
          </mat-card-content>
        </div>

        <div class="row m-3">
          <mat-card-content class="text-white">
            <label>Last week ({{startOfLastWeek}} to {{endOfLastWeek}}): {{revenueOfLastWeek | currency}}</label>
          </mat-card-content>
        </div>

        <div class="row m-3">
          <mat-card-content class="text-white">
            <label>Last 7 days ({{sevenDaysBefore}} to {{today}}): {{revenueOfLast7Days | currency}}</label>
          </mat-card-content>
        </div>
      </div>
    </div>

    <mat-card-title class="m-2 p-2 text-center text-white">Choose date range to calculate revenue</mat-card-title>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row d-flex justify-content-around m-2 p-2">
        <div class="col-md-auto d-flex justify-content-center">
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="startDate" placeholder="Start date">
              <input matEndDate formControlName="endDate" placeholder="End date">
            </mat-date-range-input>
            <mat-hint class="text-white">DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="col-md-auto d-flex justify-content-center align-items-center">
          <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">
            Calculate revenue
          </button>
        </div>
        <div class="col-md-auto d-flex justify-content-center align-items-center">
          <mat-card-footer class="text-center text-white"><label *ngIf="calculatedValue">Calculated revenue: {{calculatedValue | currency}}</label></mat-card-footer>
        </div>
      </div>
    </form>
  </mat-card>
</div>
