<!-- TITLE -->
<h1 class="text-center mt-3">List of orders</h1>
<!-- /TITLE -->

<div class="container mat-elevation-z8 py-3">
  <!-- SPINNER -->
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <!-- /SPINNER -->

  <!-- SEARCHBAR -->
  <app-search-bar [placeholder]="'by user data'"  (searchEvent)="setFilter($event)"></app-search-bar>
  <!-- /SEARCHBAR -->

  <mat-paginator
      #paginatorTop
      [length]="dataLength"
      (page)="paginatorBottom.pageIndex = $event.pageIndex; paginatorBottom.pageSize=$event.pageSize"
      [pageIndex]="dataPage"
      [pageSize]="dataPageSize"
      [pageSizeOptions]="dataPageSizeOptions"
      [showFirstLastButtons]="true"
    >
  </mat-paginator>

  <!-- TABLE -->
  <table class="container mat-elevation-z8 table-responsive-md"
    [dataSource]="data$"
    [hidden]="isLoading"
    matSort
    mat-table
    multiTemplateDataRows
  >

  <!-- COLUMNS -->
    <!-- USER -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
      <td mat-cell *matCellDef="let element">{{element.user.surname}}, {{element.user.name}}</td>
    </ng-container>
    <!-- /USER -->

    <!-- DELIVERY METHOD -->
    <ng-container matColumnDef="deliveryMethod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Method</th>
      <td mat-cell *matCellDef="let element">{{element.deliveryMethod.name}}</td>
    </ng-container>
    <!-- /DELIVERY METHOD -->

    <!-- ORDER STATUS -->
    <!-- CLIENT -->
    <ng-container matColumnDef="orderStatus" *ngxPermissionsOnly="['CLIENT']">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
      <td mat-cell *matCellDef="let element" >
        {{element.orderStatus.name}}
      </td>
    </ng-container>
    <!-- /CLIENT -->

    <!-- NON CLIENT -->
    <ng-container matColumnDef="orderStatus" *ngxPermissionsOnly="['ADMIN', 'EMPLOYEE']">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
      <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <mat-select class="select" [disabled]="!this.allowUpdates" (selectionChange)="setOrderStatus(element)" [(value)]="element.orderStatus.name">
          <mat-option  *ngFor="let orderStatus of orderStatuses" [value]="orderStatus.name">
            {{orderStatus.name}}
          </mat-option>
        </mat-select>
      </td>
    </ng-container>
    <!-- /NON CLIENT -->
    <!-- ORDER STATUS -->

    <!-- PAYMENT STATUS -->
    <!-- CLIENT -->
    <ng-container matColumnDef="paymentStatus" *ngxPermissionsOnly="['CLIENT']">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment status</th>
      <td mat-cell *matCellDef="let element">{{element.paymentStatus.name}}</td>
    </ng-container>
    <!-- /CLIENT -->

    <!-- NON CLIENT -->
    <ng-container matColumnDef="paymentStatus" *ngxPermissionsOnly="['ADMIN', 'EMPLOYEE']">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</th>
      <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <mat-select class="select" [disabled]="!this.allowUpdates" (selectionChange)="setPaymentStatus(element)" [(value)]="element.paymentStatus.name">
          <mat-option  *ngFor="let paymentStatus of paymentStatuses" [value]="paymentStatus.name">
            {{paymentStatus.name}}
          </mat-option>
        </mat-select>
      </td>
    </ng-container>
    <!-- /NON CLIENT -->
    <!-- /PAYMENT STATUS -->

    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Method</th>
      <td mat-cell *matCellDef="let element">{{element.paymentMethod.name}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="generateOrderPDF(element.id); $event.stopPropagation()"
          fontIcon="file_download"
          matTooltip="Download the order as PDF file"
        >
        </mat-icon>
        <button (click)="reorder(element); $event.stopPropagation()" *ngxPermissionsOnly="['CLIENT']" mat-mini-fab matTooltip="Order this order again">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
       <div class="element-detail flex-column"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <ng-container *ngFor="let orderedBook of element.orderedBooks">
            <div class="row align-items-center m-1 p-1">
              <div class="col-sm text-left">
                <img alt="Book Cover" class="small-img" *ngIf="orderedBook.book.image" [src]="orderedBook.book.image">
              </div>
              <div class="col-sm text-center">
                <a [routerLink]="['/books/view', orderedBook.book.id]">{{orderedBook.book.title}}</a>
              </div>
              <div class="col-sm text-center">Amount: {{orderedBook.amount}}</div>
              <div class="col-sm text-right">Book total: {{orderedBook.amount * orderedBook.book.price | currency}} </div>
            </div>
          </ng-container>
          <div class="d-flex border-top justify-content-end m-2 p-2">
              Order total: {{ getTotal() | currency}}
          </div>
        </div>
      </td>
    </ng-container>
    <!-- COLUMNS -->

    <!-- ROWS -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
  <tr class="detail-row" mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
  <!-- ROWS -->

  </table>
  <!-- /TABLE -->

  <mat-paginator
      #paginatorBottom
      [length]="dataLength"
      (page)="paginatorTop.pageIndex = $event.pageIndex; paginatorTop.pageSize = $event.pageSize;"
      [pageIndex]="dataPage"
      [pageSize]="dataPageSize"
      [pageSizeOptions]="dataPageSizeOptions"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
</div>
