<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!-- TODO Add home component and route it -->
    <li class="nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link">{{title}}</a>
    </li>
    <li class="nav-item">
      <a routerLink="books" routerLinkActive="active" class="nav-link">Books</a>
    </li>
    <li class="nav-item">
      <a routerLink="countries" routerLinkActive="active" class="nav-link">Countries</a>
    </li>
    <li class="nav-item">
      <a routerLink='countries/add' routerLinkActive="active" class="nav-link">Add country</a>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
