<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!-- TODO Route it -->
    <li class="nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link" >
        <mat-icon class="icon-display" fontIcon="home">{{title}}</mat-icon>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="books" routerLinkActive="active" class="nav-link">Books</a>
    </li>

    <!-- TODO Route it -->
    <li class="nav-item">
      <a routerLink="book_genres" routerLinkActive="active" class="nav-link">Genres</a>
    </li>

    <!-- TODO Route it -->
    <li class="nav-item">
      <a routerLink="formats" routerLinkActive="active" class="nav-link">Formats</a>
    </li>

    <!-- TODO Route it -->
    <li class="nav-item">
      <a routerLink="orders" routerLinkActive="active" class="nav-link">Orders</a>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
