html, body, app-root {
  height: 100%;
}

body {
  margin-bottom: 0;
  margin-top: 0;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-container {
  background: var(--mat-toolbar-container-background-color);
  border-radius: 25px;
  padding: 30px;
}

.form-container-without-border {
  background: var(--mat-toolbar-container-background-color);
  padding: 30px;
}

.form-group {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mini-fab {
  margin: 10px;
}

.page-title {
  color: white;
  background-color: #212121;
}

.small-img {
  max-width: 100px;
  max-height: 150px;
}

.w-30 {
  width: 30% !important;
}

.one-third {
  width: 33% !important;
}

.w-35 {
  width: 35% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-100 {
  width: 100% !important;
}
