<div class="d-flex justify-content-center m-2 p-2">
  <div class="d-flex flex-column justify-content-center">
    <h1 class="m-2 p-2">Excel importer</h1>
  </div>
</div>
<div class="container">
  <h2>Instructions</h2>
  <p>
    1. This importer allows you to choose an excel file, see all the values of it in a table and then import those books into the database.
  </p>
  <p>
    2. Currently <b>supported extensions:</b>.
  </p>
    <ul>
      <li><b>.xlsx</b></li>
    </ul>
  <p>
    3. All <b>new genres</b> used in the excel <b>will be created</b>.
  </p>
  <p>
    4. All <b>new formats</b> used in the excel <b>will be created</b>.
  </p>
  <p>
    5. Books are <b>identified by their ISBN</b>. This has the following consequences:</p>
    <ul>
      <li>If the ISBN is <b>not assigned yet</b>, the book will be <b>added</b>.</li>
      <li>If the ISBN is <b>already assigned</b>, the book will be <b>updated</b>.</li>
    </ul>
</div>

<div class="d-flex justify-content-center">
  <div class="m-2 p-2">
    <button (click)="fileInput.click()" mat-raised-button type="button">Choose a excel file</button>
    <input hidden type="file" (change)="readExcel($event)" #fileInput id="file">
  </div>

  <div class="m-2 p-2">
    <button (click)="importExcel()" mat-raised-button *ngIf="excelSelected" type="button">Import books</button>
  </div>
</div>

<div class="container">
  <mat-paginator
    #paginatorTop
    [hidden]="!excelSelected"
    [length]="dataLength"
    [pageIndex]="dataPage"
    [pageSize]="dataPageSize"
    [pageSizeOptions]="dataPageSizeOptions"
    [showFirstLastButtons]="true"
  >

  </mat-paginator>
  <table class="container mat-elevation-z8 table-responsive-md"
      [dataSource]="dataSource"
      [hidden]="!excelSelected"
      matSort
      mat-table
    >
    <!-- TITLE -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Title of the book" sortActionDescription="Sort by title">Title</th>
      <td mat-cell *matCellDef="let book"> {{book.Title}}</td>
    </ng-container>
    <!-- /TITLE -->

    <!-- ACTIVE -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Book available for sale" sortActionDescription="Sort by active">Active</th>
      <td mat-cell *matCellDef="let book">
        <mat-slide-toggle
        [(ngModel)]="book.Active"
        [disabled]=true
        >
        </mat-slide-toggle>
      </td>
    </ng-container>
    <!-- /ACTIVE -->

     <!-- ISBN -->
     <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="ISBN of the book" sortActionDescription="Sort by price">ISBN</th>
      <td mat-cell *matCellDef="let book"> {{book.ISBN}}</td>
    </ng-container>
    <!-- /ISBN -->

    <!-- PRICE -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Price of the book" sortActionDescription="Sort by price">Price</th>
      <td mat-cell *matCellDef="let book"> {{book.Price | currency}}</td>
    </ng-container>
    <!-- /PRICE -->

    <!-- STOCK -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Remaining stock of the book" sortActionDescription="Sort by stock">Stock</th>
      <td mat-cell *matCellDef="let book"> {{book.Stock}}</td>
    </ng-container>
    <!-- /STOCK -->

    <!-- AUTHOR -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Genre of the book" sortActionDescription="Sort by genre">Genre</th>
      <td mat-cell *matCellDef="let book"> {{book.Genre}}</td>
    </ng-container>
    <!-- /AUTHOR -->

    <!-- AUTHOR -->
    <ng-container matColumnDef="parameters.author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Author of the book" sortActionDescription="Sort by author">Author</th>
      <td mat-cell *matCellDef="let book"> {{book.Author}}</td>
    </ng-container>
    <!-- /AUTHOR -->

    <!-- FORMAT -->
    <ng-container matColumnDef="parameters.format">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Format of the book" sortActionDescription="Sort by format">Format</th>
      <td mat-cell *matCellDef="let book"> {{book.Format}}</td>
    </ng-container>
    <!-- /FORMAT -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
