<ng-container class="d-flex flex-column" [formGroup]="form">
  <mat-card class="form-container">
    <mat-card-title class="text-white"><mat-icon>perm_identity</mat-icon> Personal data</mat-card-title>
    <!-- IDENTIFIER -->
    <div class="form-row" [hidden]="true">
      <!-- TODO Not sure what to do with this, need to exist for edit, but dont need to be visible? -->
      <input class="formControlName" formControlName="id" type="text">
      <input class="formControlName" formControlName="active" type="text">
    </div>
    <!-- /IDENTIFIER -->

    <div class="row">
      <div class="col-sm">
        <mat-form-field class="form-group w-100" appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Enter your name" required type="text">
          <mat-error *ngIf="f['name'].invalid">{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm">
        <mat-form-field class="form-group w-100" appearance="fill">
          <mat-label>Surname</mat-label>
          <input formControlName="surname" matInput placeholder="Enter your surname" required type="text">
          <mat-error *ngIf="f['surname'].invalid">{{getErrorMessage('surname')}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <mat-form-field class="form-group w-100" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Enter your email" required type="text" >
          <mat-error *ngIf="f['email'].invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm">
        <mat-form-field class="form-group w-100" appearance="fill">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput minlength="6" placeholder="Enter your password" required type="password">
          <mat-hint class="text-white">Min 6 characters</mat-hint>
          <mat-error *ngIf="f['password'].invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <mat-form-field class="form-group w-100">
          <mat-label>Your date of birth </mat-label>
          <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" required>
          <mat-hint class="text-white">DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="f['dateOfBirth'].invalid">{{getErrorMessage('dateOfBirth')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm">
        <mat-form-field class="form-group w-100">
          <mat-label>Phone number</mat-label>
          <input formControlName="phone" mask="(00) 000 000 000" matInput required type="text">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint class="text-white">Include area code</mat-hint>
          <mat-error *ngIf="f['phone'].invalid">{{getErrorMessage('phone')}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</ng-container>
