
  <form [formGroup]="form">
    <!-- COUNTRY -->
    <mat-form-field class="small-form-group">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country" (selectionChange)="onCountrySelected($event.value)" [(value)]="selectedCountry">
        <mat-option *ngFor="let country of countries" [value]="country.name">
          {{country.name}}
        </mat-option>
        <mat-error *ngIf="f['country'].invalid">{{getErrorMessage('country')}}</mat-error>
      </mat-select>
    </mat-form-field>
    <!-- /COUNTRY -->

    <!-- CITY -->
    <mat-form-field class="small-form-group">
      <mat-label>City</mat-label>
      <mat-select [attr.disabled]="!selectedCountry" formControlName="city" (selectionChange)="onCitySelected($event.value)" [(value)]="selectedCity">
        <mat-option *ngFor="let city of cities" [value]="city.name">
          {{city.name}}
        </mat-option>
        <mat-error *ngIf="f['city'].invalid">{{getErrorMessage('city')}}</mat-error>
      </mat-select>
    </mat-form-field>
    <!-- /CITY -->

    <!-- POSTAL CODE -->
    <mat-form-field class="small-form-group">
      <mat-label>Postal code</mat-label>
      <mat-select [attr.disabled]="!selectedCity" formControlName="postalCode" [(value)]="selectedPostalCode">
        <mat-option *ngFor="let postalCode of postalCodes" [value]="postalCode.code">
          {{postalCode.code}}
        </mat-option>
        <mat-error *ngIf="f['postalCode'].invalid">{{getErrorMessage('postalCode')}}</mat-error>
      </mat-select>
    </mat-form-field>
    <!-- /POSTAL CODE -->
  </form>
