<!-- LOADING -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<!-- /LOADING -->

<h1 class="text-center">Checkout</h1>

<!-- CART WITH CONTENT -->
<mat-drawer-container [autosize]="true" class="drawer-container mat-elevation-z8">

  <!-- DRAWER -->
  <mat-drawer class="p-3" mode="side" opened position="end">
    <mat-card>
      <mat-card-title>Shipping address
        <mat-icon>location_on</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>Country</mat-card-subtitle>
      <mat-card-content>{{country}}</mat-card-content>
      <mat-card-subtitle>City</mat-card-subtitle>
      <mat-card-content>{{city}}</mat-card-content>
      <mat-card-subtitle>Postal code</mat-card-subtitle>
      <mat-card-content>{{postalCode}}</mat-card-content>
      <mat-card-subtitle>Street</mat-card-subtitle>
      <mat-card-content>{{street}}</mat-card-content>
      <mat-card-subtitle>Number</mat-card-subtitle>
      <mat-card-content>{{number}}</mat-card-content>
    </mat-card>
  </mat-drawer>
  <!-- /DRAWER -->

  <mat-drawer-content class="p-3">
    <mat-grid-list
      [cols]="cols"
      gutterSize="16"
      [rowHeight]="rowHeight"
    >
      <mat-grid-tile *ngFor="let book of cart.boughtBooks">
        <!-- TODO Decide which one looks better -->
        <!-- <app-book-box [ngClass]="{'w-100': cols === 1}" [fullWidthMode]="cols === 1"></app-book-box> -->
        <app-book-box
          [book]="book"
          class="w-100"
          [fullWidthMode]="cols === 1"
        ></app-book-box>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-book-box [ngClass]="{'w-100': cols === 1}" [fullWidthMode]="cols === 1"></app-book-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>

<!-- EMPTY CART -->
<mat-card class="card-container mx-auto p-3 m-3" *ngIf="!cart.boughtBooks.length">
  <span class="text-white">
    Your cart is empty
    <button color="primary" mat-raised-button routerLink="/catalog">Start shopping</button>
  </span>
</mat-card>
<!-- /EMPTY CART -->
