<h2 class="text-center">List of countries</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th> Name</th>
      <th> Active</th>
      <th> Actions</th>
    </tr>
  </thead>

  <tbody *ngFor="let country of this.countries">
    <tr>
      <td>{{country.name}}</td>
      <td>
        <mat-slide-toggle [(ngModel)]="country.active"></mat-slide-toggle>
      </td>
      <td>
        <!-- TODO Substitute text with (material?) icons and use text for tooltips -->
        <button (click)="viewCountryDetails(country.name)" class="btn btn-primary">Details</button>
        <button (click)="updateCountry(country.name)" class="btn btn-info" style="margin-left:10px">Edit</button>
        <button (click)="deleteCountry(country.name)" class="btn btn-danger" style="margin-left:10px">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
