<!-- TODO Add multi select so the user can filter with several genres -->

<mat-expansion-panel *ngIf="genres">
  <mat-expansion-panel-header>
    <mat-panel-title>Genres</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-selection-list #selection [multiple]="false">
    <mat-list-option (click)="onShowGenre(genre.name)" *ngFor="let genre of genres" [value]="genre.name">
      <button class="btn btn-default" >{{genre.name}}</button>
    </mat-list-option>
  </mat-selection-list>
  <button (click)="resetGenre()" mat-button >Clear selection</button>
</mat-expansion-panel>
